<div class="">


<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div class="field form-group">
  <p>
  <%= form.text_area :body, class:"form-control", placeholder:"Write comment.." %>

  </p>
  </div>
  

  <div class="actions">
    <%= form.submit "Send", class: 
    "btn btn-secondary" %>
  </div>

  <% end %>
</div>